[Desktop Entry]
Type=Application
Name=Persian Voice Input
Name[fa]=ورودی صوتی فارسی
Exec=voice-input --setup
Icon=audio-input-microphone
Terminal=false
Categories=Utility;Accessibility;
StartupNotify=true
