[Desktop Entry]
Type=Application
Name=Persian Voice Input
Name[fa]=ورودی صوتی فارسی
Exec=voice-input --background --setup
Icon=audio-input-microphone
Terminal=false
StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
